.vscode/**
.vscode-test/**
src/**
**/test
example
**/*.js
!out/extension.js
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules
.github
script