.vscode/**
.vscode-test/**
src/**
**/test

example
**/*.g.dart
**/*.freezed.dart
!example/lib
!example/assets
!example/.vscode
!example/analysis_options.yaml
!example/pubspec.extent

**/*.js
!out/extension.js
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules
.github
script
